$primary-dark: #1a1a1a;

::-webkit-scrollbar {
  width: 5px;
}

.element-sidebar {
  border-radius: 15px;
  background: $primary-dark;
  box-shadow: inset 3px 3px 10px #141414, inset -3px -3px 10px #202020;
  font-family: "Nunito Sans", sans-serif;
  color: grey;
}
.neumorphic {
  box-shadow: 3px 3px 10px #141414, -3px -3px 10px #202020;
  font-family: "Nunito Sans", sans-serif;
}
.anim-txt {
  height: 3rem;
  position: unset;
  transform: translateY(-100%);
}
.hello {
  position: absolute;
  overflow: hidden;
  font-size: 3rem;

  .text,
  .text2,
  .text3,
  .text4,
  .text5,
  .text6 {
    font-size: 3rem;
    transform: translateY(100%);
  }
}

// orange-dark : #BC210F
// orange-mid : #EC4913
// orange-light : #E9560C

// green-dark : #41DC80
// green-light : #77FAB4

// blue-dark : #0061A6
// blue-mid : #0880CC
// blue-light : #10A7FA
