.sidebar-left {
    position: absolute;
    z-index: 999;
    top: 0%;
    right: 0%;
    background: #111111;
    padding:  100px 20px;
    width: 400px;
    min-width: fit-content;
    max-width: 90vw;
    height: 100vh;
}

/* #home {
    transition: 0.5s all ease-in-out;
}
#home:hover {
    transition: 0.5s all ease-in-out;
    background: linear-gradient(to right, #ff6700, #ffa500);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */